# Ignore .env files
*.env

# Ignore node_modules
node_modules/

# Ignore postgres folder
postgres/

# Ignore
redis/

# Ignore __pycache__ folder
__pycache__

# Ignore package-lock.json
app/package-lock.json